
      @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
      @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
      #overlay {
        position: fixed; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
      }
      .avg-rating{
        color: black;
      }
      .genre{
        clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
      }
      .pop-close-button{
          /* position: absolute; */
          
      }
      .pop-movie-card-holder img{
          height: 280px;
      }
      
      
      .pop-movie-card-holder *,
      .pop-movie-card-holder *:before,
      .pop-movie-card-holder *:after {
        box-sizing: border-box;
      }

      .pop-movie-card-holder{
        background: #43423e;
      }

      .pop-movie-card-holder a {
        text-decoration: none;
        color: #5c7fb8;
      }

      .pop-movie-card-holder a:hover {
        text-decoration: underline;
      }

      .pop-movie-card-holder .movie-card {
        font: 14px/22px "Lato", Arial, sans-serif;
        color: #a9a8a3;
        padding: 40px 0;
      }

      .pop-movie-card-holder .pop-container {
        margin: 0 auto;
        width: 780px;
        height: 640px;
        background: #f0f0ed;
        border-radius: 5px;
        position: relative;
      }

      .pop-movie-card-holder .hero {
        height: 342px;
        margin: 0;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .pop-movie-card-holder .hero:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        background: red;
        background: url("https://wallpapercave.com/wp/ueo2tdf.jpg");
        background-size: 800px;
        z-index: -1;
        -webkit-transform: skewY(-2.2deg);
        transform: skewY(-2.2deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        backface-visibility: hidden;
      }

      .pop-movie-card-holder .cover {
        position: absolute;
        top: 160px;
        left: 40px;
        z-index: 2;
      }

      .pop-movie-card-holder .details {
        padding: 190px 0 0 280px;
      }
      .pop-movie-card-holder .details .title1 {
        color: white;
        font-size: 44px;
        margin-bottom: 13px;
        position: relative;
      }
      .pop-movie-card-holder .details .title1 span {
        position: absolute;
        top: 3px;
        margin-left: 12px;
        background: #c4af3d;
        border-radius: 5px;
        color: #544c21;
        font-size: 14px;
        padding: 0px 4px;
      }
      .pop-movie-card-holder .details .title2 {
        color: #c7c1ba;
        font-size: 23px;
        font-weight: 300;
        margin-bottom: 15px;
      }
      .pop-movie-card-holder .details .likes {
        margin-left: 24px;
      }
      .pop-movie-card-holder .details .likes:before {
        content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
        position: relative;
        top: 2px;
        padding-right: 7px;
      }

      .pop-movie-card-holder .description {
        bottom: 0px;
        height: 200px;
        font-size: 16px;
        line-height: 26px;
        color: #b1b0ac;
      }

      .pop-movie-card-holder .column1 {
        padding-left: 50px;
        padding-top: 120px;
        width: 220px;
        float: left;
        text-align: center;
      }

      .pop-movie-card-holder .tag {
        background: white;
        border-radius: 10px;
        padding: 3px 8px;
        font-size: 14px;
        margin-right: 4px;
        line-height: 35px;
        cursor: pointer;
      }

      .pop-movie-card-holder .tag:hover {
        background: #ddd;
      }

      .pop-movie-card-holder .column2 {
        padding-left: 41px;
        padding-top: 30px;
        margin-left: 20px;
        width: 480px;
        float: left;
      }

      .pop-movie-card-holder .avatars {
        margin-top: 23px;
      }
      .pop-movie-card-holder .avatars img {
        cursor: pointer;
      }
      .pop-movie-card-holder .avatars img:hover {
        opacity: 0.6;
      }
      .pop-movie-card-holder .avatars a:hover {
        text-decoration: none;
      }

      .pop-movie-card-holder fieldset,
      .pop-movie-card-holder label {
        margin: 0;
        padding: 0;
      }

      /****** Style Star Rating Widget *****/
      .pop-movie-card-holder .rating {
        border: none;
        float: left;
      }

      .pop-movie-card-holder .rating > input {
        display: none;
      }

      .pop-movie-card-holder .rating > label:before {
        margin: 5px;
        margin-top: 0;
        font-size: 1em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
      }

      .pop-movie-card-holder .rating > .half:before {
        content: "\f089";
        position: absolute;
      }

      .pop-movie-card-holder .rating > label {
        color: #ddd;
        float: right;
      }

      /***** CSS Magic to Highlight Stars on Hover *****/
      .pop-movie-card-holder .rating > input:checked ~ label,
      .pop-movie-card-holder .rating:not(:checked) > label:hover,
      .pop-movie-card-holder .rating:not(:checked) > label:hover ~ label {
        color: #ffd700;
      }

      /* hover previous stars in list */
      .pop-movie-card-holder .rating > input:checked + label:hover,
      .pop-movie-card-holder .rating > input:checked ~ label:hover,
      .pop-movie-card-holder .rating > label:hover ~ input:checked ~ label,
      .pop-movie-card-holder .rating > input:checked ~ label:hover ~ label {
        color: #ffed85;
      }

      .pop-movie-card-holder a[data-tooltip] {
        position: relative;
      }

      .pop-movie-card-holder a[data-tooltip]::before,
      .pop-movie-card-holder a[data-tooltip]::after {
        position: absolute;
        display: none;
        opacity: 0.85;
      }

      .pop-movie-card-holder a[data-tooltip]::before {
        /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
        content: attr(data-tooltip);
        background: #000;
        color: #fff;
        font-size: 13px;
        padding: 5px;
        border-radius: 5px;
        /* we don't want the text to wrap */
        white-space: nowrap;
        text-decoration: none;
      }

      .pop-movie-card-holder a[data-tooltip]::after {
        width: 0;
        height: 0;
        border: 6px solid transparent;
        content: "";
      }

      .pop-movie-card-holder a[data-tooltip]:hover::before,
      .pop-movie-card-holder a[data-tooltip]:hover::after {
        display: block;
      }

      /** positioning **/
      /* top tooltip */
      .pop-movie-card-holder a[data-tooltip][data-placement="top"]::before {
        bottom: 100%;
        left: 0;
        margin-bottom: 40px;
      }

      .pop-movie-card-holder a[data-tooltip][data-placement="top"]::after {
        border-top-color: #000;
        border-bottom: none;
        bottom: 50px;
        left: 20px;
        margin-bottom: 4px;
      }
    